<?xml version="1.0" encoding="utf-8"?>
<!-- appupdater -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="appupdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="appupdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<appupdater.Properties.Settings>
			<setting name="ModuleName" serializeAs="String">
				<value>appupdater</value>
			</setting>
		</appupdater.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<appupdater.Properties.Settings>
			<setting name="OverrideFileName" serializeAs="String">
				<value>pcdroverrides.p5i</value>
			</setting>
			<setting name="ResourceExtension" serializeAs="String">
				<value>.xml</value>
			</setting>
			<setting name="LangIDFileName" serializeAs="String">
				<value>
					LangIDsWithPCDLangs.properties
				</value>
			</setting>
			<setting name="RegistryInstallPath" serializeAs="String">
				<value>ProgRoot</value>
			</setting>
			<setting name="RegistryInstallVersion" serializeAs="String">
				<value>ProdVersion</value>
			</setting>
			<setting name="MyCustomer" serializeAs="String">
				<value>dell</value>
			</setting>
			<setting name="MyVariant" serializeAs="String">
				<value>aa</value>
			</setting>
			<setting name="MyBuildID" serializeAs="String">
				<value>AU/1.2.6745.47</value>
			</setting>
			<setting name="MyLanguage" serializeAs="String">
				<value>Optimal</value>
			</setting>
		</appupdater.Properties.Settings>
	</userSettings>
	<runtime>
		<generatePublisherEvidence enabled="false"/>
	</runtime>
	<startup>
        <supportedRuntime version="v4.0"  sku=".NETFramework,Version=v4.0.1"/>
        <supportedRuntime version="v4.0"  sku=".NETFramework,Version=v4.0"/>
		<supportedRuntime version="v2.0.50727" /> 
	</startup>
</configuration>
